.clear { clear: both; }

body { padding: 20px; text-align: left; font-family: arial, sans-serif; font-size: 12px; color: #000; }

h1, h2, h3, h4, h5 { margin: 0px; padding: 0px; }

h4 { font-weight: normal; }
h4 span { font-weight: bold; }

.datos2 { padding: 5px 15px; }

.row2 .col1 { width: 58%; margin-right: 2%; float: left; }
.row2 .col2 { width: 40%; float: left; }
.row2 .col1, .row2 .col2 { margin-top: 5px; margin-bottom: 5px; }

.row-border { margin-bottom: 5px; border: 1px solid #000; -webkit-border-radius: 3px 3px; -moz-border-radius: 3px / 3px; border-radius: 3px / 3px; vertical-align: middle; display: inline-block; width: 100%; }
.row-border:after { content: ""; clear: both; display: inline-block; }

.col_izq { width: 58%; float: left; margin: 10px 2%; }

.col_der { width: 36%; float: left; margin: 10px 2% 10px 0px; }

.box-top-left { text-align: center; height: 100px; }
.box-top-left .logo { float: left; margin-right: 20px; height: 100px; }
.box-top-left .logo img { margin-top: 10px; }
.box-top-left .datos { font-size: 10px; text-align: center; }
.box-top-left .datos h1 { font-size: 24px; margin: 3px 0px; line-height: 0.7; }

.box-top-right1 { text-align: right; height: 45px; margin-bottom: 10px; }

.box-top-right11 { text-align: right; height: 100px; margin-bottom: 10px; }

.box-top-right2 { text-align: right; height: 45px; margin-top: 15px; }

.fila { width: 100%; height: auto; }

.cod { width: 10%; float: left; height: 20px; }

.desc { width: 50%; float: left; height: 20px; }

.unidad { width: 10%; float: left; height: 20px; }

.cantidad { width: 10%; float: left; height: 20px; }

.precio { width: 10%; float: left; height: 20px; text-align: right; }

.subtal { width: 10%; float: left; height: 20px; text-align: right; }

.htitulos { clear: both; font-weight: bold; display: block; border-bottom: 1px solid #000; height: 20px; margin-bottom: 3px; }

.hcod { width: 10%; float: left; height: 20px; }

.hdesc { width: 50%; float: left; height: 20px; }

.hunidad { width: 10%; float: left; height: 20px; }

.hcantidad { width: 10%; float: left; height: 20px; }

.hprecio { width: 10%; float: left; height: 20px; text-align: right; }

.hsubtal { width: 10%; float: left; height: 20px; text-align: right; }

.corte_fila { display: inline-block; border-top: 1px solid #000; padding-top: 3px; position: relative; width: 100%; clear: both; }
.corte_fila .texto { font-weight: bold; width: 80%; text-align: left; float: left; }
.corte_fila .total { font-weight: bold; width: 20%; text-align: right; float: left; }

.clear { clear: both; }

.footer { margin: 15px 0px; padding: 10px; border: 1px solid #000; -webkit-border-radius: 5px 5px; -moz-border-radius: 5px / 5px; border-radius: 5px / 5px; }
