<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="urlFoto" value="../imgINV/foto/"/>
    <add key="FolderXLS" value="C:\Lavori\Projects\INV\SOFTWARE\INV\INV\XLS\"/>
    <add key="VirtualFolderXLS" value="http://localhost:53869/xls/"/>
    <!--export data to pdf-->
    <add key="FolderPDF" value="C:\Lavori\Projects\INV\SOFTWARE\INV\INV\PDF\"/>
    <add key="VirtualFolderPDF" value="http://localhost:53869/pdf/"/>
    <add key="FolderImgPrint" value="C:\Users\Marco\Desktop\INV\INV\images\"/>
  </appSettings>
  <connectionStrings>
    <add name="invConnectionStringSQLServer" connectionString="Data Source=DEV-MARCO-01-PC;Initial Catalog=inv;Integrated Security=False;User ID=sa;Password=Abc1234I" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <authentication mode="Windows"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="info.softgri@mail.com">
        <network password="testinviomail" userName="mmtestsendmail" port="587" host="smtp.gmail.com"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>