/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@font-face {
    font-family: 'icomoon';
    src:url('../font/icomoon.eot');
    src:url('../font/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../font/icomoon.woff') format('woff'),
        url('../font/icomoon.ttf') format('truetype'),
        url('../font/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-eliminar, .icon-editar, .icon-yen, .icon-world, .icon-wireframe-globe, .icon-wind, .icon-wifi, .icon-waves, .icon-viewport-video, .icon-viewport, .icon-user-remove, .icon-user-ban, .icon-user-add, .icon-user, .icon-upload-selection-circle, .icon-upload-selection, .icon-upload, .icon-underline, .icon-triple-points, .icon-top-bottom, .icon-three-points-top, .icon-three-points-bottom, .icon-three-points, .icon-text-width, .icon-text-size-upper, .icon-text-size-reduce, .icon-text-paragraph, .icon-text-normal, .icon-text-justify-right, .icon-text-justify-left, .icon-text-justify-center, .icon-text-height, .icon-text-center, .icon-text-bold, .icon-text-align-right, .icon-text-align-left, .icon-telephone, .icon-sunshine, .icon-sun, .icon-stop, .icon-star, .icon-speed, .icon-sound-on, .icon-sound-off, .icon-sos, .icon-social-zerply, .icon-social-youtube, .icon-social-yelp, .icon-social-yahoo, .icon-social-wordpress, .icon-social-virb, .icon-social-vimeo, .icon-social-viddler, .icon-social-twitter, .icon-social-tumblr, .icon-social-stumbleupon, .icon-social-soundcloud, .icon-social-skype, .icon-social-sharethis, .icon-social-quora, .icon-social-pinterest, .icon-social-photobucket, .icon-social-paypal, .icon-social-myspace, .icon-social-linkedin, .icon-social-last-fm, .icon-social-grooveshark, .icon-social-google-plus, .icon-social-github, .icon-social-forrst, .icon-social-flickr, .icon-social-facebook, .icon-social-evernote, .icon-social-envato, .icon-social-email, .icon-social-dribbble, .icon-social-digg, .icon-social-deviantart, .icon-social-blogger, .icon-social-behance, .icon-social-bebo, .icon-social-addthis, .icon-social-500px, .icon-snow, .icon-sliders-vertical, .icon-sliders, .icon-sign-male, .icon-sign-female, .icon-shield, .icon-settings, .icon-setting, .icon-select-square, .icon-select-circle, .icon-search, .icon-scale, .icon-rules, .icon-rss, .icon-retweet, .icon-report-comment, .icon-refresh, .icon-rec, .icon-random, .icon-quote, .icon-question, .icon-prev-step, .icon-previous-fast-step, .icon-pounds, .icon-podcast, .icon-plus, .icon-play, .icon-pin-map, .icon-pin, .icon-pig-money, .icon-pause, .icon-paperclip-oblique, .icon-paperclip, .icon-options-settings, .icon-officine-2, .icon-officine, .icon-off, .icon-number-zero, .icon-number-two, .icon-number-three, .icon-number-six, .icon-number-seven, .icon-number-one, .icon-number-nine, .icon-number-four, .icon-number-five, .icon-number-eight, .icon-next-step, .icon-next-fast-step, .icon-music, .icon-multi-borders, .icon-minus, .icon-marker-points, .icon-marker-minus, .icon-marker-add, .icon-marker, .icon-map, .icon-male-symbol, .icon-mailbox, .icon-mail, .icon-magnet, .icon-magic-wand, .icon-login-lock-refresh, .icon-locked, .icon-location-maps, .icon-location, .icon-list-square, .icon-list-circle, .icon-link-url, .icon-line-through, .icon-limit-directions, .icon-like-upload, .icon-like-remove, .icon-like-download, .icon-like-close, .icon-like-ban, .icon-like-add, .icon-left-right, .icon-leaf, .icon-layers, .icon-landscape, .icon-key, .icon-italic, .icon-info, .icon-idea, .icon-home-wifi, .icon-heart, .icon-hdd-raid, .icon-hdd-net, .icon-hdd, .icon-grids, .icon-grid-big, .icon-graphs, .icon-forward, .icon-fire, .icon-female-symbol, .icon-eye-disabled, .icon-eye, .icon-expand-vertical, .icon-expand-horizontal, .icon-expand-directions, .icon-expand, .icon-exclamation, .icon-euro, .icon-email-upload, .icon-email-spam, .icon-email-remove, .icon-email-luminosity, .icon-email-download, .icon-email-close, .icon-email-add, .icon-eject, .icon-drops, .icon-drop, .icon-download-selection-circle, .icon-download-selection, .icon-download, .icon-double-diamonds, .icon-dot-square, .icon-dot-line, .icon-dot-circle, .icon-dollar, .icon-documents, .icon-document-fill, .icon-document, .icon-directions, .icon-cross, .icon-credit-card, .icon-copy-paste-document, .icon-copy-document, .icon-contract-vertical, .icon-contract-horizontal, .icon-contract-directions, .icon-compass-2, .icon-compass, .icon-comments, .icon-comment, .icon-coins, .icon-cloud-upload, .icon-cloud-remove, .icon-cloud-download, .icon-cloud-add, .icon-cloud, .icon-clock, .icon-circles, .icon-check, .icon-check-sel, .icon-chat, .icon-chart-down, .icon-cd-dvd-rom, .icon-camera, .icon-button-question, .icon-button-minus, .icon-button-exclamation, .icon-button-email, .icon-button-close, .icon-button-check, .icon-button-add, .icon-brush, .icon-browser-sizes, .icon-box-remove, .icon-box-close, .icon-box-blank, .icon-box-add, .icon-bolt, .icon-block-menu, .icon-blank, .icon-bezier, .icon-bars, .icon-ban-circle, .icon-bag, .icon-backward, .icon-axis-rules, .icon-atom, .icon-arrow-up-thin, .icon-arrow-up-light, .icon-arrow-up-bold-round, .icon-arrow-up-bold, .icon-arrow-up-big, .icon-arrow-up, .icon-arrow-right-thin, .icon-arrow-right-light, .icon-arrow-right-bold-round, .icon-arrow-right-bold, .icon-arrow-right-big, .icon-arrow-right, .icon-arrow-oblique-expand-directions, .icon-arrow-oblique-expand, .icon-arrow-oblique-contract-directions, .icon-arrow-oblique-contract, .icon-arrow-multi-line-up, .icon-arrow-multi-line-right, .icon-arrow-multi-line-left, .icon-arrow-multi-line-down, .icon-arrow-left-thin, .icon-arrow-left-light, .icon-arrow-left-bold-round, .icon-arrow-left-bold, .icon-arrow-left-big, .icon-arrow-left, .icon-arrow-fill-up, .icon-arrow-fill-right, .icon-arrow-fill-left, .icon-arrow-fill-down, .icon-arrow-down-thin, .icon-arrow-down-light, .icon-arrow-down-bold-round, .icon-arrow-down-bold, .icon-arrow-down-big, .icon-arrow-down, .icon-arrow-cycling, .icon-arrow-cycle, .icon-arrow-curve-right, .icon-arrow-curve-recycle, .icon-arrow-curve-left, .icon-animal-footprint, .icon-alarm-clock, .icon-air-plane, .icon-adjust, .icon-d-cube {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-eliminar:before {
    content: "\e12e";
}
.icon-editar:before {
    content: "\e12f";
}
.icon-yen:before {
    content: "\e003";
}
.icon-world:before {
    content: "\e004";
}
.icon-wireframe-globe:before {
    content: "\e005";
}
.icon-wind:before {
    content: "\e006";
}
.icon-wifi:before {
    content: "\e007";
}
.icon-waves:before {
    content: "\e008";
}
.icon-viewport-video:before {
    content: "\e009";
}
.icon-viewport:before {
    content: "\e00a";
}
.icon-user-remove:before {
    content: "\e00b";
}
.icon-user-ban:before {
    content: "\e00c";
}
.icon-user-add:before {
    content: "\e00d";
}
.icon-user:before {
    content: "\e00e";
}
.icon-upload-selection-circle:before {
    content: "\e00f";
}
.icon-upload-selection:before {
    content: "\e010";
}
.icon-upload:before {
    content: "\e011";
}
.icon-underline:before {
    content: "\e012";
}
.icon-triple-points:before {
    content: "\e013";
}
.icon-top-bottom:before {
    content: "\e014";
}
.icon-three-points-top:before {
    content: "\e015";
}
.icon-three-points-bottom:before {
    content: "\e016";
}
.icon-three-points:before {
    content: "\e017";
}
.icon-text-width:before {
    content: "\e018";
}
.icon-text-size-upper:before {
    content: "\e019";
}
.icon-text-size-reduce:before {
    content: "\e01a";
}
.icon-text-paragraph:before {
    content: "\e01b";
}
.icon-text-normal:before {
    content: "\e01c";
}
.icon-text-justify-right:before {
    content: "\e01d";
}
.icon-text-justify-left:before {
    content: "\e01e";
}
.icon-text-justify-center:before {
    content: "\e01f";
}
.icon-text-height:before {
    content: "\e020";
}
.icon-text-center:before {
    content: "\e021";
}
.icon-text-bold:before {
    content: "\e022";
}
.icon-text-align-right:before {
    content: "\e023";
}
.icon-text-align-left:before {
    content: "\e024";
}
.icon-telephone:before {
    content: "\e025";
}
.icon-sunshine:before {
    content: "\e026";
}
.icon-sun:before {
    content: "\e027";
}
.icon-stop:before {
    content: "\e028";
}
.icon-star:before {
    content: "\e029";
}
.icon-speed:before {
    content: "\e02a";
}
.icon-sound-on:before {
    content: "\e02b";
}
.icon-sound-off:before {
    content: "\e02c";
}
.icon-sos:before {
    content: "\e02d";
}
.icon-social-zerply:before {
    content: "\e02e";
}
.icon-social-youtube:before {
    content: "\e02f";
}
.icon-social-yelp:before {
    content: "\e030";
}
.icon-social-yahoo:before {
    content: "\e031";
}
.icon-social-wordpress:before {
    content: "\e032";
}
.icon-social-virb:before {
    content: "\e033";
}
.icon-social-vimeo:before {
    content: "\e034";
}
.icon-social-viddler:before {
    content: "\e035";
}
.icon-social-twitter:before {
    content: "\e036";
}
.icon-social-tumblr:before {
    content: "\e037";
}
.icon-social-stumbleupon:before {
    content: "\e038";
}
.icon-social-soundcloud:before {
    content: "\e039";
}
.icon-social-skype:before {
    content: "\e03a";
}
.icon-social-sharethis:before {
    content: "\e03b";
}
.icon-social-quora:before {
    content: "\e03c";
}
.icon-social-pinterest:before {
    content: "\e03d";
}
.icon-social-photobucket:before {
    content: "\e03e";
}
.icon-social-paypal:before {
    content: "\e03f";
}
.icon-social-myspace:before {
    content: "\e040";
}
.icon-social-linkedin:before {
    content: "\e041";
}
.icon-social-last-fm:before {
    content: "\e042";
}
.icon-social-grooveshark:before {
    content: "\e043";
}
.icon-social-google-plus:before {
    content: "\e044";
}
.icon-social-github:before {
    content: "\e045";
}
.icon-social-forrst:before {
    content: "\e046";
}
.icon-social-flickr:before {
    content: "\e047";
}
.icon-social-facebook:before {
    content: "\e048";
}
.icon-social-evernote:before {
    content: "\e049";
}
.icon-social-envato:before {
    content: "\e04a";
}
.icon-social-email:before {
    content: "\e04b";
}
.icon-social-dribbble:before {
    content: "\e04c";
}
.icon-social-digg:before {
    content: "\e04d";
}
.icon-social-deviantart:before {
    content: "\e04e";
}
.icon-social-blogger:before {
    content: "\e04f";
}
.icon-social-behance:before {
    content: "\e050";
}
.icon-social-bebo:before {
    content: "\e051";
}
.icon-social-addthis:before {
    content: "\e052";
}
.icon-social-500px:before {
    content: "\e053";
}
.icon-snow:before {
    content: "\e054";
}
.icon-sliders-vertical:before {
    content: "\e055";
}
.icon-sliders:before {
    content: "\e056";
}
.icon-sign-male:before {
    content: "\e000";
}
.icon-sign-female:before {
    content: "\e057";
}
.icon-shield:before {
    content: "\e058";
}
.icon-settings:before {
    content: "\e059";
}
.icon-setting:before {
    content: "\e05a";
}
.icon-select-square:before {
    content: "\e05b";
}
.icon-select-circle:before {
    content: "\e05c";
}
.icon-search:before {
    content: "\e05d";
}
.icon-scale:before {
    content: "\e05e";
}
.icon-rules:before {
    content: "\e05f";
}
.icon-rss:before {
    content: "\e060";
}
.icon-retweet:before {
    content: "\e061";
}
.icon-report-comment:before {
    content: "\e062";
}
.icon-refresh:before {
    content: "\e063";
}
.icon-rec:before {
    content: "\e064";
}
.icon-random:before {
    content: "\e065";
}
.icon-quote:before {
    content: "\e066";
}
.icon-question:before {
    content: "\e067";
}
.icon-prev-step:before {
    content: "\e068";
}
.icon-previous-fast-step:before {
    content: "\e069";
}
.icon-pounds:before {
    content: "\e06a";
}
.icon-podcast:before {
    content: "\e06b";
}
.icon-plus:before {
    content: "\e06c";
}
.icon-play:before {
    content: "\e06d";
}
.icon-pin-map:before {
    content: "\e06e";
}
.icon-pin:before {
    content: "\e06f";
}
.icon-pig-money:before {
    content: "\e070";
}
.icon-pause:before {
    content: "\e071";
}
.icon-paperclip-oblique:before {
    content: "\e072";
}
.icon-paperclip:before {
    content: "\e073";
}
.icon-options-settings:before {
    content: "\e074";
}
.icon-officine-2:before {
    content: "\e075";
}
.icon-officine:before {
    content: "\e076";
}
.icon-off:before {
    content: "\e077";
}
.icon-number-zero:before {
    content: "\e078";
}
.icon-number-two:before {
    content: "\e079";
}
.icon-number-three:before {
    content: "\e07a";
}
.icon-number-six:before {
    content: "\e07b";
}
.icon-number-seven:before {
    content: "\e07c";
}
.icon-number-one:before {
    content: "\e07d";
}
.icon-number-nine:before {
    content: "\e07e";
}
.icon-number-four:before {
    content: "\e07f";
}
.icon-number-five:before {
    content: "\e080";
}
.icon-number-eight:before {
    content: "\e081";
}
.icon-next-step:before {
    content: "\e082";
}
.icon-next-fast-step:before {
    content: "\e083";
}
.icon-music:before {
    content: "\e084";
}
.icon-multi-borders:before {
    content: "\e085";
}
.icon-minus:before {
    content: "\e086";
}
.icon-marker-points:before {
    content: "\e087";
}
.icon-marker-minus:before {
    content: "\e088";
}
.icon-marker-add:before {
    content: "\e089";
}
.icon-marker:before {
    content: "\e08a";
}
.icon-map:before {
    content: "\e08b";
}
.icon-male-symbol:before {
    content: "\e08c";
}
.icon-mailbox:before {
    content: "\e08d";
}
.icon-mail:before {
    content: "\e08e";
}
.icon-magnet:before {
    content: "\e08f";
}
.icon-magic-wand:before {
    content: "\e090";
}
.icon-login-lock-refresh:before {
    content: "\e091";
}
.icon-locked:before {
    content: "\e092";
}
.icon-location-maps:before {
    content: "\e093";
}
.icon-location:before {
    content: "\e094";
}
.icon-list-square:before {
    content: "\e095";
}
.icon-list-circle:before {
    content: "\e096";
}
.icon-link-url:before {
    content: "\e097";
}
.icon-line-through:before {
    content: "\e098";
}
.icon-limit-directions:before {
    content: "\e099";
}
.icon-like-upload:before {
    content: "\e09a";
}
.icon-like-remove:before {
    content: "\e09b";
}
.icon-like-download:before {
    content: "\e09c";
}
.icon-like-close:before {
    content: "\e09d";
}
.icon-like-ban:before {
    content: "\e09e";
}
.icon-like-add:before {
    content: "\e09f";
}
.icon-left-right:before {
    content: "\e0a0";
}
.icon-leaf:before {
    content: "\e0a1";
}
.icon-layers:before {
    content: "\e0a2";
}
.icon-landscape:before {
    content: "\e0a3";
}
.icon-key:before {
    content: "\e0a4";
}
.icon-italic:before {
    content: "\e0a5";
}
.icon-info:before {
    content: "\e0a6";
}
.icon-idea:before {
    content: "\e0a7";
}
.icon-home-wifi:before {
    content: "\e0a8";
}
.icon-heart:before {
    content: "\e0a9";
}
.icon-hdd-raid:before {
    content: "\e0aa";
}
.icon-hdd-net:before {
    content: "\e0ab";
}
.icon-hdd:before {
    content: "\e0ac";
}
.icon-grids:before {
    content: "\e0ad";
}
.icon-grid-big:before {
    content: "\e0ae";
}
.icon-graphs:before {
    content: "\e0af";
}
.icon-forward:before {
    content: "\e0b0";
}
.icon-fire:before {
    content: "\e0b1";
}
.icon-female-symbol:before {
    content: "\e0b2";
}
.icon-eye-disabled:before {
    content: "\e0b3";
}
.icon-eye:before {
    content: "\e0b4";
}
.icon-expand-vertical:before {
    content: "\e0b5";
}
.icon-expand-horizontal:before {
    content: "\e0b6";
}
.icon-expand-directions:before {
    content: "\e0b7";
}
.icon-expand:before {
    content: "\e0b8";
}
.icon-exclamation:before {
    content: "\e0b9";
}
.icon-euro:before {
    content: "\e0ba";
}
.icon-email-upload:before {
    content: "\e0bb";
}
.icon-email-spam:before {
    content: "\e0bc";
}
.icon-email-remove:before {
    content: "\e0bd";
}
.icon-email-luminosity:before {
    content: "\e0be";
}
.icon-email-download:before {
    content: "\e0bf";
}
.icon-email-close:before {
    content: "\e0c0";
}
.icon-email-add:before {
    content: "\e0c1";
}
.icon-eject:before {
    content: "\e0c2";
}
.icon-drops:before {
    content: "\e0c3";
}
.icon-drop:before {
    content: "\e0c4";
}
.icon-download-selection-circle:before {
    content: "\e0c5";
}
.icon-download-selection:before {
    content: "\e0c6";
}
.icon-download:before {
    content: "\e0c7";
}
.icon-double-diamonds:before {
    content: "\e0c8";
}
.icon-dot-square:before {
    content: "\e0c9";
}
.icon-dot-line:before {
    content: "\e0ca";
}
.icon-dot-circle:before {
    content: "\e0cb";
}
.icon-dollar:before {
    content: "\e0cc";
}
.icon-documents:before {
    content: "\e0cd";
}
.icon-document-fill:before {
    content: "\e0ce";
}
.icon-document:before {
    content: "\e0cf";
}
.icon-directions:before {
    content: "\e0d0";
}
.icon-cross:before {
    content: "\e0d1";
}
.icon-credit-card:before {
    content: "\e0d2";
}
.icon-copy-paste-document:before {
    content: "\e0d3";
}
.icon-copy-document:before {
    content: "\e0d4";
}
.icon-contract-vertical:before {
    content: "\e0d5";
}
.icon-contract-horizontal:before {
    content: "\e0d6";
}
.icon-contract-directions:before {
    content: "\e0d7";
}
.icon-compass-2:before {
    content: "\e0d8";
}
.icon-compass:before {
    content: "\e0d9";
}
.icon-comments:before {
    content: "\e0da";
}
.icon-comment:before {
    content: "\e0db";
}
.icon-coins:before {
    content: "\e0dc";
}
.icon-cloud-upload:before {
    content: "\e0dd";
}
.icon-cloud-remove:before {
    content: "\e0de";
}
.icon-cloud-download:before {
    content: "\e0df";
}
.icon-cloud-add:before {
    content: "\e0e0";
}
.icon-cloud:before {
    content: "\e0e1";
}
.icon-clock:before {
    content: "\e0e2";
}
.icon-circles:before {
    content: "\e0e3";
}
.icon-check:before {
    content: "\e0e4";
}
.icon-check-sel:before {
    content: "\e0e4";
}
.icon-chat:before {
    content: "\e0e5";
}
.icon-chart-down:before {
    content: "\e0e6";
}
.icon-cd-dvd-rom:before {
    content: "\e0e7";
}
.icon-camera:before {
    content: "\e0e8";
}
.icon-button-question:before {
    content: "\e0e9";
}
.icon-button-minus:before {
    content: "\e0ea";
}
.icon-button-exclamation:before {
    content: "\e0eb";
}
.icon-button-email:before {
    content: "\e0ec";
}
.icon-button-close:before {
    content: "\e0ed";
}
.icon-button-check:before {
    content: "\e0ee";
}
.icon-button-add:before {
    content: "\e0ef";
}
.icon-brush:before {
    content: "\e0f0";
}
.icon-browser-sizes:before {
    content: "\e0f1";
}
.icon-box-remove:before {
    content: "\e0f2";
}
.icon-box-close:before {
    content: "\e0f3";
}
.icon-box-blank:before {
    content: "\e0f4";
}
.icon-box-add:before {
    content: "\e0f5";
}
.icon-bolt:before {
    content: "\e0f6";
}
.icon-block-menu:before {
    content: "\e0f7";
}
.icon-blank:before {
    content: "\e0f8";
}
.icon-bezier:before {
    content: "\e0f9";
}
.icon-bars:before {
    content: "\e0fa";
}
.icon-ban-circle:before {
    content: "\e0fb";
}
.icon-bag:before {
    content: "\e0fc";
}
.icon-backward:before {
    content: "\e0fd";
}
.icon-axis-rules:before {
    content: "\e0fe";
}
.icon-atom:before {
    content: "\e0ff";
}
.icon-arrow-up-thin:before {
    content: "\e100";
}
.icon-arrow-up-light:before {
    content: "\e101";
}
.icon-arrow-up-bold-round:before {
    content: "\e102";
}
.icon-arrow-up-bold:before {
    content: "\e103";
}
.icon-arrow-up-big:before {
    content: "\e104";
}
.icon-arrow-up:before {
    content: "\e105";
}
.icon-arrow-right-thin:before {
    content: "\e106";
}
.icon-arrow-right-light:before {
    content: "\e107";
}
.icon-arrow-right-bold-round:before {
    content: "\e108";
}
.icon-arrow-right-bold:before {
    content: "\e109";
}
.icon-arrow-right-big:before {
    content: "\e10a";
}
.icon-arrow-right:before {
    content: "\e10b";
}
.icon-arrow-oblique-expand-directions:before {
    content: "\e10c";
}
.icon-arrow-oblique-expand:before {
    content: "\e10d";
}
.icon-arrow-oblique-contract-directions:before {
    content: "\e10e";
}
.icon-arrow-oblique-contract:before {
    content: "\e10f";
}
.icon-arrow-multi-line-up:before {
    content: "\e110";
}
.icon-arrow-multi-line-right:before {
    content: "\e111";
}
.icon-arrow-multi-line-left:before {
    content: "\e112";
}
.icon-arrow-multi-line-down:before {
    content: "\e113";
}
.icon-arrow-left-thin:before {
    content: "\e114";
}
.icon-arrow-left-light:before {
    content: "\e115";
}
.icon-arrow-left-bold-round:before {
    content: "\e116";
}
.icon-arrow-left-bold:before {
    content: "\e117";
}
.icon-arrow-left-big:before {
    content: "\e118";
}
.icon-arrow-left:before {
    content: "\e119";
}
.icon-arrow-fill-up:before {
    content: "\e11a";
}
.icon-arrow-fill-right:before {
    content: "\e11b";
}
.icon-arrow-fill-left:before {
    content: "\e11c";
}
.icon-arrow-fill-down:before {
    content: "\e11d";
}
.icon-arrow-down-thin:before {
    content: "\e11e";
}
.icon-arrow-down-light:before {
    content: "\e11f";
}
.icon-arrow-down-bold-round:before {
    content: "\e120";
}
.icon-arrow-down-bold:before {
    content: "\e121";
}
.icon-arrow-down-big:before {
    content: "\e122";
}
.icon-arrow-down:before {
    content: "\e123";
}
.icon-arrow-cycling:before {
    content: "\e124";
}
.icon-arrow-cycle:before {
    content: "\e125";
}
.icon-arrow-curve-right:before {
    content: "\e126";
}
.icon-arrow-curve-recycle:before {
    content: "\e127";
}
.icon-arrow-curve-left:before {
    content: "\e128";
}
.icon-animal-footprint:before {
    content: "\e129";
}
.icon-alarm-clock:before {
    content: "\e12a";
}
.icon-air-plane:before {
    content: "\e12b";
}
.icon-adjust:before {
    content: "\e12c";
}
.icon-d-cube:before {
    content: "\e12d";
}
.notification {
            display: block;
            position: fixed;
            background: #dedede;
            top: 130px;
            left: calc(100% - 600px);
            width: 750px;
            z-index: 899;
        }
        .notification div {
            padding: 20px;
            margin-right: 50px;
        }
        .notification div#topMsj {
            display: block;
            position: fixed;
            background: #777;
            color: #fff;
            top: 110px;
            width: 700px;
            right: -600px;
            box-shadow: 1px 1px 4px #777;
            -webkit-transition: all 600ms ease;
            -moz-transition: all 600ms ease;
            -ms-transition: all 600ms ease;
            -o-transition: all 600ms ease;
            transition: all 600ms ease;

        }
        .notification div#bottomMsj {
            display: block;
            position: fixed;
            background: #777;
            color: #fff;
            top: 172px;
            width: 700px;
            right: -600px;
            box-shadow: 1px 1px 4px #777;
            -webkit-transition: all 600ms ease;
            -moz-transition: all 600ms ease;
            -ms-transition: all 600ms ease;
            -o-transition: all 600ms ease;
            transition: all 600ms ease;

        }
        .notificationBtn {
            display: block;
            position: fixed;
            background: #fff;
            top: 108px;
            left: calc(100% - 135px);
            width: 135px;
            font-size: 11px;
            z-index: 900;
        }
        .notificationBtn span#btnTop {
            display: block;
            height: 62px;
            text-align: center;
            padding: 22px;
            cursor: pointer;
            box-shadow: 1px 1px 4px #777;
        }
        .notificationBtn span#btnBottom {
            display: block;
            height: 62px;
            text-align: center;
            padding: 22px;
            cursor: pointer;
            box-shadow: 1px 1px 4px #777;
        }
        .notificationBtn span#btnTop:hover, .notificationBtn span#btnBottom:hover {
            background: #dedede;
        }
        .clasebtExportToExcel
        {
            background-color: #777;
            float: right;
            margin-right: 5%;
            margin-bottom: 5px;
        }
